@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #AFACAC;
	width: 100%
}